body, html {
    background-color: #8f8f8f;
}

.result {
    color: #FFF;
    font-family: Arial;
    font-size: 64px;
}

.btns-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    height: calc(100vh - 88px);
}

.btn {
    background-color: #a6a6a6;
    border: 1px solid #444;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.4);
}

.big-btn {
    grid-column: span 2;
}